@font-face {
 font-family: "Whitney Medium";
 src: url("assets/fonts/whitneymedium.otf")
}

@font-face {
 font-family: "Whitney Book";
 src: url("assets/fonts/whitneybook.otf")
}

body {
  font-family: 'Whitney Book', sans-serif;
  background: black;
  margin: 0px;
  margin-top: 0px;
  color: white;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #0ff;
}

::selection {
  color: black;
  background: #0ff;
}

.banner__title {
  margin-bottom: 5px;
}

.banner__text {
  margin-top: 15px;
}

h1 {
  font-family: "Whitney Medium";
  line-height: 25%;
  padding-top: 20px;
  text-align:left;
  display: inline-block;
}

h2, h2, h4, h5 {
  font-family: "Whitney Medium";
}

p {  
  color: #c7c7c7;
}

.see-more {
  display: inline;
  text-align: end;
  text-decoration: none;
}

.see-more {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Edge, Opera and Firefox */  
}

.nav {
  z-index: 10;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
  background: black;
}

.nav li {
  display: block;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.banner {
  background-color: black; 
  background-size: cover;
  background-position-y: 45%;
  background-image: linear-gradient(to left, transparent, black),
    var(--var-url-banner);
  background-repeat: no-repeat;
  width: 100%;
  height: 250px
}

.banner-content {
  padding: 40px;
  margin-left: 3%;
  width: 275px
}

.main {
  margin-left: 20px;
  width: 1100px;
}

#projects-wrapper {
  width: calc(100% - margin-left);
  padding-right: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 175px 175px 175px 175px 175px 175px;
  grid-gap: 10px;
}

.project {
  transition: transform .3s ease-out;
  display: inline-block;
  margin: 0;
  background: #212121;
  width: 175px;
  border-radius: 10px
}

.project:hover {
  transform: translate(0, -5px);
}

.project p, .project h2 {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin: 0;
}

.project p {
  color: #c7c7c7;
  padding-bottom: 15px;
}

.project img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 175px;
  transition: transform 0.4s;
}

.project img:hover {
  /* filter: brightness(50%); */
  transform: scale(1.20);
}

pink {
  color: #f0f;
}

cyan {
  color: #0ff;
}

.project__cover-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  height: 175px;
  cursor: pointer;
}

.right {
  margin-left: calc(3% + 525px);
  width: 550px;
}

#actus-wrapper {
  display: block;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 730px 360px;
  grid-template-areas:
    "main    2nd"
    "main    3rd";
  grid-gap: 10px;
}

.actu-main {
  transition: transform .3s ease-out;
  grid-area: main;
  display: inline-block;
  margin: 0;
  background: #212121;
  width: 730px;
  border-radius: 10px
}

.actu-main:hover {transform: translate(0, -5px);}

.actu-main img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 340px;
  transition: transform 0.4s;
}

.actu-main__cover-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  float: left;
  height: 340px;
  width: 340px;
}

.actu-main img:hover {
  /* filter: brightness(50%); */
  transform: scale(1.20);
}

.actu-main p, .actu-main h2 ,  .actu-main h4 {
  padding-left: 360px;
  padding-top: 10px;
  padding-right: 10px;
  margin: 0;
}

.actu-main h4 {
  font-family: "Whitney Medium";
  color: #828282;
  font-weight: lighter;
}

.actu-2nd {
  transition: transform .3s ease-out;
  grid-area: "2nd";
  display: inline-block;
  margin: 0;
  background: #212121;
  width: 360px;
  border-radius: 10px
}

.actu-2nd:hover {transform: translate(0, -5px);}

.actu-2nd p, .actu-2nd h2 {
  padding-left: 175px;
  padding-top: 10px;
  padding-right: 10px;
  margin: 0;
}

.actu-2nd img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 165px;
  float: left;
  transition: transform 0.4s;
}

.actu-2nd__cover-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  float: left;
  height: 165px;
  width: 165px;
}

.actu-2nd img:hover {
  /* filter: brightness(50%); */
  transform: scale(1.20);
}

.actu-3rd {
  transition: transform .3s ease-out;
  grid-area: "2nd";
  display: inline-block;
  margin: 0;
  background: #212121;
  width: 360px;
  border-radius: 10px
  
}

.actu-3rd:hover {transform: translate(0, -5px);}

.actu-3rd p, .actu-3rd h2 {
  padding-left: 175px;
  padding-top: 10px;
  padding-right: 10px;
  margin: 0;
}

.actu-3rd img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 165px;
  float: left;
  transition: transform 0.4s;
}

.actu-3rd__cover-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  float: left;
  height: 165px;
  width: 165px;
}

.actu-3rd img:hover {
  /* filter: brightness(50%); */
  transform: scale(1.20);
}

a {
  color: white;
  text-decoration: none;
  filter: brightness(100%);
}

a:hover {
  cursor: pointer;
}

#services-wrapper {
  display: block;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1100px;
  grid-gap: 10px;
}

.service {
  transition: transform .3s ease-out;
  display: inline-block;
  margin: 0;
  background: #212121;
  width: 1100px;
  border-radius: 10px;
}

.service h3, .service p {
  display: inline-block;
  vertical-align:middle;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}

ion-icon {
  display: inline-block;
  vertical-align:middle;
  padding-left: 10px;
  font-size: 25px;
  margin: 0px
}

.service:hover {
  transform: translate(0, -5px);
}

#competences-wrapper {
  display: block;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 10px;
}

.competence {
  transition: transform .3s ease-out;
  display: inline-block;
  margin: 0;
  background: #212121;
  border-radius: 10px
}

.competence p {
  padding: 10px;
  margin: 0;
}

.competence:hover {
  transform: translate(0, -5px);
}

grey {
  color: #707070;
}