.banner {
  background-color: black; 
  background-size: cover;
  background-position-y: 45%;
  background-image: linear-gradient(to left, transparent, black),
    url("https://callmekitsu.kitsuforyou.repl.co//assets/testeuh.gif"),
    url("https://callmekitsu.kitsuforyou.repl.co//assets/bg.png");
  background-repeat: no-repeat;
}

#actus-wrapper {
  display: block;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 730px 360px;
  grid-template-areas:
    "main    2nd"
    "main    3rd";
  grid-gap: 10px;
}