/* ================================================================== { RULES } === */

@media all and (min-width: 100px) and (max-width: 700px) {

  .wave {
    display: none !important;
  }

  #searchbar {
    width: 80% !important;
  }

  #menu {
    display: none !important;
  }

}

/* ================================================================== { TAG } === */

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Poppins";
  background: black;
  color: white;
  max-width: 100% !important;
  overflow-x: hidden !important;
}


/* ================================================================== { CLASSES } === */

.project {
  text-align: left;
  flex: 1;
  width: 100%;
  height: 75px;
  transition: transform .3s ease-out;
  border-radius: 10px;
  font-size: 1em;
}

.project img {
  float: left;
  margin-right: 10px;
  width: 20%;
  transition: all .1s ease;
  border-radius: 10px;
}

.project:hover {
  transform: translate(0, -3px);
}

.art {
  flex: 0 1 auto;
  object-fit: cover;
  flex-basis: 15%;
  border-radius: 10px;
  max-width: 30%;
  max-height: 30%;
}

.project h2 {
  margin-top: 5px;
}

.wave {
  position: absolute;
  width: 50%;
  top: -10vh;
  transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.column {
  background: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px;
  width: 45%;
  flex: 0 50%;
  margin: 5px;
}

/* ================================================================== { IDS } === */

#w1 {
  left: -15%;
}

#w2 {
  right: -15%;
  transform: rotate(289deg)
}

#main-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-top: 15%;
}

#searchbar {
  border: 2px solid black;
  background: white;
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  width: 500px;
}

#wrapper {
  display: flex;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
}

#portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: flex-start;
  height: fit-content;
}

#resume {
  position: absolute;
  top: 120vh;
  transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}