@media all and (min-width: 100px) and (max-width: 700px) {

  .view, #mouse {
    display: none !important;
  }

  body {
    overflow: hidden !important;
  }

  #scrollto { display: none !important; }
  #explore { display: block !important; }
  
}

#explore { display: none; }
#hamburger { display: none !important; }

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Poppins";
  background: black;
  color: white;
  overflow: hidden;
}

.project-card {
  width: 400px !important;
  height: 400px !important;
  position: absolute;
  border-radius: 15px;
  filter: blur(5px);
  transition: all 300ms ease-in-out;
}

.project-card:hover {
  filter: blur(0px);
}

.creds {
  text-align: center;
  background: black;
  z-index: 99;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background: black;
  border-radius: 15px;
  padding: 50px;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 150px;
  overflow: clip;
}

#infos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.info {
  flex: 1 1 30%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #212121;
}

.info ion-icon {
  font-size: 50px;
  display: inline-block;
}

.info div {
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
}

#title {
  min-height: 1.2em;
}

#biography-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 150px;
}

.col {
  flex-basis: 50%;
}



.design {
  position: absolute;
  width: 20% !important;
  height: fit-content !important;
  filter: drop-shadow(0 0 0.5em #202020)
}

.animate {
  animation: 1s ease-in-out 0s infinite alternate breathe;
}

@keyframes breathe {
  
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
  
}

#writing-code {
  top: 75px;
  left: 75px;
  min-height: 300px;
}

#writing-essay {
  top: 0px;
  right: 25px;
  font-family: times new roman;
  max-width: 650px;
  min-height: 300px;
}

#writing-sql {
  bottom: 50px;
  left: 70px;
  min-height: 20px;
}

#writing-bash {
  color: green;
  bottom: 120px;
  right: 0px;
}

#writing-sql, #writing-code, #writing-bash {
  font-family: monospace;
}

.writing {
  position: absolute;
  padding: 25px;
  white-space: pre-wrap;
  filter: blur(1px);
  min-width: 470px;
  transition: filter 300ms ease-in-out;
}

#writing-code pink { color: #ff74ff !important }
blue { color: #5b79ee}
lightblue { color: #70c8ff}
lightyellow { color: #fbfb9d}
lightgreen { color: #a3fb9d}
#writing-sql red { color: #f55656 }

#home-view .creds {
  margin-top: -150px;
  width: fit-content;
  border-radius: 15px;
  z-index: 2;
}

.view {
  margin-bottom: 20vh;
}

#bayes {
  width: 35%;
  position: absolute;
  top: 125px;
  left: 75px;
  animation: breathing 7s ease-out infinite normal;
}

#modus {
  width: 15%;
  position: absolute;
  top: 125px;
  right: 225px;
  animation: breathing 8s 500ms ease-out infinite normal;
}

#feynmann {
  width: 25%;
  position: absolute;
  bottom: 75px;
  right: 125px;
  animation: breathing 7s 300ms ease-out infinite normal;
}

#matheme {
  width: 10%;
  position: absolute;
  bottom: 150px;
  left: 225px;
  animation: breathing 6s 250ms ease-out infinite normal;
}


@keyframes breathing {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  33% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  66% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@media all and (min-width: 100px) and (max-width: 700px) {

  .main {
    width: 100% !important;
    top: 50px !important;
  }

  #title {
    font-size: 1.5em !important;
    min-height: 2.4em !important;
  }

  .info ion-icon {
    font-size: 30px !important;
  }

  .info {
    min-width: 40% !important;
  }

  .perc {
    width: 150px !important;
  }

  #last {
    margin-top: 75vh !important;
    padding: 50px !important;
  }

  .col {
    flex-basis: 100% !important;
  }

}

:root {
  --progress: #007a7a
}

.enchained {
  height: fit-content;
}

#view-profile {
  background: black;
  border-radius: 15px;
  padding: 50px;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 150px;

  display: flex;
  flex-wrap: wrap;
}

#avatar-wrapper {
  position: relative;
}

#avatar-wrapper #bubble { 
  background: white;
  width: 40%;
  height: auto;
  z-index: 1;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  top: -260px;
}

#avatar {
  width: 55%;
  z-index: 3;
  top: -200px;
/*  filter: drop-shadow(0 0 17em #0ff); */
}

#avatar, #bubble {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  transform: translateY(50px);
}

#home-view .creds h1 {
  margin-top: 20px;
}

.scrollto:not(h1 + .scrollto) {
  display: none;
  margin-top: 250px;
  position: absolute;
}