@media all and (min-width: 100px) and (max-width: 700px) {

  .view, #mouse {
    display: none !important;
  }

  body {
    overflow: hidden !important;
  }

  #scrollto { display: none !important; }
  #explore { display: block !important; }
  
}

#explore { display: none; }
#hamburger { display: none !important; }

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Poppins";
  background: black;
  color: white;
}

.project-card {
  width: 400px !important;
  height: 400px !important;
  position: absolute;
  border-radius: 15px;
  filter: blur(5px);
  transition: all 300ms ease-in-out;
}

.project-card:hover {
  filter: blur(0px);
}

.creds {
  text-align: center;
  background: black;
  z-index: 99;
  padding: 25px;
}

.main {
  background: black;
  border-radius: 15px;
  padding: 50px;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 150px;
  overflow: clip;
}

#infos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.info {
  flex: 1 1 30%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #212121;
}

.info ion-icon {
  font-size: 50px;
  display: inline-block;
}

.info div {
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
}

#title {
  min-height: 1.2em;
}

#biography-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 150px;
}

.col {
  flex-basis: 50%;
}

#avatar {
  width: 75%;
  filter: drop-shadow(0 0 17em #0ff);
}

.design {
  position: absolute;
  width: 20% !important;
  height: fit-content !important;
  filter: drop-shadow(0 0 0.5em #202020)
}

.animate {
  animation: 1s ease-in-out 0s infinite alternate breathe;
}

@keyframes breathe {
  
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
  
}

#writing-code {
  top: 75px;
  left: 75px;
  min-height: 300px;
}

#writing-essay {
  top: 0px;
  right: 25px;
  font-family: times new roman;
  max-width: 650px;
  min-height: 300px;
}

#writing-sql {
  bottom: 50px;
  left: 70px;
  min-height: 20px;
}

#writing-bash {
  color: green;
  bottom: 120px;
  right: 0px;
}

#writing-sql, #writing-code, #writing-bash {
  font-family: monospace;
}

.writing {
  position: absolute;
  padding: 25px;
  white-space: pre-wrap;
  filter: blur(1px);
  min-width: 470px;
  transition: filter 300ms ease-in-out;
}

#writing-code pink { color: #ff74ff !important }
blue { color: #5b79ee}
lightblue { color: #70c8ff}
lightyellow { color: #fbfb9d}
lightgreen { color: #a3fb9d}
#writing-sql red { color: #f55656 }

#home-view .creds {
  margin: auto;
  margin-top: 150px;
  width: fit-content;
  border-radius: 15px;
  z-index: 2;
}

.view {
  margin-bottom: 20vh;
}