#productions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#slider {
  padding: 50px 0;
  background-image: url(cdn/assets/projects/rinthlab.png);
}

body {
  background: red !important;
}

.tag {
  transition: all 50ms ease-in-out;
}

.tag.active { 
  color: var(--highlight-color); 
}