#productions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#slider {
  padding: 50px 0;
  background-image: url(cdn/assets/projects/rinthlab.png);
}

body {
  background: red !important;
}

.tag {
  transition: all 50ms ease-in-out;
}

.tag.active { 
  color: var(--highlight-color); 
}

.big-searchbar {
  display: flex;
  gap: 20px;
  align-content: center;
  background: black;
  color: white;
  width: 50%;
  border-radius: 15px;
  padding: 20px;
}

.big-searchbar input {
  width: 100%;
  background: black;
  color: white;
  outline: none;
  border: none;
}

.big-searchbar ::placeholder {
  color: white;
}

#events {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.participation {
  display: flex;
  gap: 30px;
}

.participation > div > img {
  width: 75px;
  filter: brightness(0) invert(1);
}

.participation > div:has(h2) {
  display: flex;
  flex-direction: column;
}