<div id="logo" onclick="window.open(window.location.origin, '_self').focus();">
  <img src="../cdn/assets/branding/paradoxe.png" id="hamburger">
  <span>Mathéo Tripnaux-Moreau</span>
</div>
<div class="networks hide-mobile">
  <ion-icon name="logo-discord"
    onclick="window.open(window.location.origin + '/discord', '_blank').focus();"
    ></ion-icon>
  <ion-icon name="logo-linkedin"
    onclick="window.open('https://linkedin.com/in/callmekitsu/', '_blank').focus();"
    ></ion-icon>
  <ion-icon name="logo-github"
    onclick="window.open('https://github.com/paradoxe-tech/', '_blank').focus();"
    ></ion-icon>
</div>