:root {
  --fontcolor: rgba(255, 255, 245, .86);
  --linkcolor: blue;
  --grey: #e8e8e8;
  --menuwidth: 450px;
  --highlight: #ff4df9;
}

html, body {
  margin: 0px;
  overflow-x: hidden;
  font-family: "Roboto";
  background: #1b1b1f;
  color: var(--fontcolor)
}

#side-menu, #viewport {
  position: fixed;
  transition: all 300ms ease-in-out;
}

#viewport {
  margin-top: 75px;
  padding: 100px;
  height: calc(100vh - 75px);
  left: var(--menuwidth);
  width: calc(calc(85% - var(--menuwidth)) - 200px);
}

#side-menu {
  top: 75px;
  overflow-y: scroll;
  height: calc(100vh - 125px);
  padding: 25px 50px;
  padding-left: 20px;
  width: calc(var(--menuwidth) - 100px);
  background: #161618;
}

body.folded #side-menu {
  left: -100%;
}

body.folded #viewport {
  left: 0px;
}

.link {
  color: var(--highlight);
}

.summary li, .link {
  cursor: pointer;  
}

.summary li:hover, .link:hover {
  text-decoration: underline;
}

#viewport li {
  margin-bottom: 5px;
}

case, code {
  font-family: monospace;
  padding: 5px 10px;
  border-radius: 5px;
  background: #22272e;
}

code {
  display: block;
  padding: 2em;
}

pre code.hljs {
  padding: 2em !important;
  border-radius: 10px !important;
}


ul ul li, ul ul ul li {
  padding: 0px;
  display: list-item;
  padding-inline-start: 1ch;
}

ul.summary > li {
  color: var(--highlight);
  list-style-type: "";
  list-style-color: var(--fontcolor);
}

ul ul li {
  color: var(--fontcolor);
  list-style-type: "";
}

ul ul, ul ul ul {
  padding-left: 20px;
}

li ion-icon {
  margin-left: 5px;
  cursor: pointer;
  color: grey;
  vertical-align: top;
}

ul ul ul li ion-icon {
  vertical-align: middle;
}

.tag {
  height: fit-content;
  padding: 4px 10px; 
  border-radius: 25px;
  background: #00aaff;
  font-size: 0.8em;
  color: white;
}

a {
  color: #00aaff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#horizontal-menu {
  height: 75px;
  background: transparent;
  display: flex;
  gap: 5px;
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
}

#horizontal-menu > :first-child {
  padding-left: 35px;
  width: calc(var(--menuwidth) - 65px);
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  background: #161618;
}

#horizontal-menu > :last-child {
  padding: 0 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: calc(90% - 470px);
}

#horizontal-menu > :last-child nav {
  display: flex;
  gap: 20px;
} 

#horizontal-menu > :last-child nav a {
  color: var(--fontcolor);
  cursor: pointer;
}

#horizontal-menu > :last-child nav a:hover {
  color: var(--highlight);
  text-decoration: none !important;
}

input[type="text"] {
  height: 20px;
  background: #161618;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  padding: 10px 15px;
  width: 75px;
  color: var(--fontcolor)
}

input[type="text"]:placeholder {
  color: var(--fontcolor)
}

*::focus {
  outline: none;
  border: none;
}

#viewport h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
  margin-bottom: 20px;
}