@media all and (min-width: 100px) and (max-width: 700px) {

  #container {
    width: 100% !important;
  }

  #searchbar {
    width: 80% !important;
  }

}

#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

#searchbar {
  border: none;
  border-left: 2px solid white;
  background: black;
  color: white;
  padding: 7px 10px;
  padding-left: 10px;
  width: 30%;
  outline: none;
}

.item-docs, .item-run {
  filter: invert(1);
}

#searchbar::placeholder {
  color: var(--text-grey);
}