html, body  {
  text-align : center;
  color: white;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute ;
  background: black;
}

#main {
  margin: auto;
  width: 500px
}

h3, h5 {
  margin: 10px 0px 10px 0px
}

h5 {
  color: #c7c7c7;
  font-weight: normal;
  font-style: italic
}

.maze {
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    margin-top: 25px;
    margin-bottom: 50px
}

table {
background: black;
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

table td {
background: black;
}


div.col {

    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    outline: 1px #efefef dotted;
    margin: 0;
    padding: 0;
    
}