/* ================================================================ { RULES } == */

@media all and (min-width: 100px) and (max-width: 700px) {

  .bubble {
    display: none !important;
  }
  
  #raw-content, #rendered-content {
    min-height: 80vh !important;
    padding-bottom: 200px;
    left: 20px !important;
    width: calc(100% - 40px) !important;
  }

  #rendered-content {
    width: calc(100% - 60px) !important;
  }

  #bottom-menu ion-icon:hover {
    transform: rotate(0deg) !important;
  }

  body {
    overflow: visible !important;
  }
  
  sigma sup {
    top: -23px !important;
    left: -3px !important;
  }

  sigma sub {
    bottom: -12px !important;
  }

  .window {
    min-width: 60%;
  }

  :root {
    --font-size: 0.8em !important;
    --lh: 1.4em !important;
  }
  
}

/* ================================================================ { ROOT } == */

:root {
  --fontcolor: white;
  --bgcolor: black;
  --bgcode: #212121;
  --bgbubble: #1c1c1c;
  --fontcode: #dbdbdb;
  --selectionbg: white;
  --selectioncolor: black;
  --font-fam: "Montserrat";
  --titles-font-fam: "Poppins";
  --font-size: 1em;
  --lh: 1.5em;
  --cursor: auto;
  --point: auto;
}

body.light {
  --fontcolor: black;
  --bgcolor: white;
  --bgcode: #d7d7d7;
  --bgbubble: #f0f0f0;
  --fontcode: black;
  --selectionbg: black;
  --selectioncolor: white;
}

::selection {
  background-color: var(--selectionbg, white); 
  color: var(--selectioncolor, black);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--selectioncolor); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--selectioncolor);
  border-radius: 25px;
  cursor: ns-resize !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fontcode); 
}

/* ================================================================ { TAGS } == */

head {
  overflow: hidden
}

body {
  font-family: var(--font-fam);
  overflow: hidden;

  background-color: var(--bgcolor, black);
  color: var(--fontcolor, white);
  transition: color 1s ease background 0.3s;
  margin: 0px;
}

ion-icon {
  font-size: 25px;
  vertical-align: middle;
}

p {
  margin: 0px;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

li {
  position: relative;
  left: 10px;
  list-style: square;
}

li span {
  position: relative;
  left: -10px;
}

.hidden {
  left: -100% !important;
  display: none !important;
}

button {
  color: var(--fontcolor, white);
  background: var(--bgcode, #272727);
  outline: 2px var(--fontcolor, white);
  padding: 5px;
  border: none;
  cursor: var(--point);
}

button:hover {
  color: yellow;
}

input[type=text], select {
  color: var(--fontcolor, white);
  background: var(--bgcode, #272727);
  padding: 5px;
  border: none;
  outline: none;
  appearance: none;
}

*:focus {
  outline: none;
}

/* ================================================================ { CONTENT } == */

#content {
  margin: 0px;
  position: fixed;
  top: 108px;
  width: 100vw;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  gap: 20px;
}

#content-container {
  width: 900px;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex: 1 1;
  overflow-y: scroll;
  border: 4px solid var(--fontcolor);
}

#rendered-content, #raw-content {
  transition: color 1s ease background 0.3s;
  
  color: var(--fontcolor, white);
  font-size: var(--font-size);
  font-family: var(--font-fam);

  width: 100%;
  height: fit-content;
  margin: 0px;
  padding: 50px;

  resize: none;
  outline: none;
  border: none;
  word-break: break-word;
}

#raw-content::placeholder {
  color: var(--fontcode);
  font-family: var(--titles-font-fam);
}

#raw-content {
  cursor: text !important;
}

#rendered-content>:first-child {
  margin-top: 0px !important;
  line-height: normal;
}

#rendered-content {
  margin-bottom: 20px;
}

/* ================================================================ { MENU } == */

#menu {
  text-align: center;
  width: 100% !important;
  padding: 10px 15px 15px 15px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 99;
  background: var(--bgcolor, black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

#bottom-menu {
  background: var(--bgcolor);
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: calc( 100% - 50px);
  display: flex;
  gap: 25px;
  padding: 25px;
  justify-content: center;
  height: 25px;
}

#bottom-menu ion-icon {
  cursor: var(--point);
  transition: transform 150ms ease-out;
}

#bottom-menu ion-icon:hover {
  transform: rotate(15deg);
}

#menu h1 {
  font-family: "Poppins";
}

#menu img#vanta-logo {
  height: 40px !important;
  margin-top: 10px;
  object-fit: contain;
  width: fit-content;
}

#menu img, #menu ion-icon {
  vertical-align: middle;
}

/* ================================================================ { BLOCKS } == */


block {
  color: var(--fontcode, #B9BBBE);
  background-color: var(--bgcode, #272727);
  font-family: times new roman;
  padding: 5px 10px;
}

/* ================================================================ { WINDOWS } == */

.window {
  border-radius: 25px;
  padding: 50px;
  width: fit-content;
  height: fit-content;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: var(--bgcode, #272727);
  z-index: 999;
  transition: left 800ms ease-out;
}

.window ul {
  padding: 0;
  padding-right: 25px;
}

.window ul li {
  list-style: none;
  cursor: var(--point);
  padding: 10px;
}

.window ul li ion-icon {
  margin-right: 10px;
}

.window ul li:hover {
  color: yellow;
}

#fileuploader {
  display: none;
}

#filed-drop {
  width: 100%;
  height: 150px;
  outline: 2px dotted var(--fontcolor);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: cell;
}

/* ================================================================ { COLORS } == */

#lexique {
  display: none;
}

#left-col, #right-col {
  display: flex;
  gap: 20px;
  height: 100%;
  flex-basis: 23%;
  flex-direction: column;
  width: 23%;
}

#lexique-data {
  gap: 5px;
  width: fit-content;
}

.tag {
  background: var(--bgcode);
  color: var(--fontcode);
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 0.7em;
  width: fit-content;
  white-space: nowrap;
}

/* =============== */

.bubble {
  position: relative;
  background: var(--bgbubble);
  border-radius: 20px;
  padding: 50px;
  height: fit-content;
  width: calc(100% - 100px);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.bubble > ul {
  padding: 0 0 0 20px;
}

.bubble > h1 {
  margin: 0px;
}

.bubble def {
  padding: 10px 0; 
  width: 100%;
  display: flex;
  border: none;
}

.bubble def concept {
  display: inline-block;
  padding: 0px;
  background: transparent;
  position: static;
}

.bubble def concept::after {
  content: "→";
  margin-right: 5px;
}

#left-col .bubble {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  left: -90%;
}

#right-col .bubble {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  right: -90%;
}

#right-col .bubble:hover {
  right: 0px;
}

#left-col .bubble:hover {
  left: 0px;
}

.bubble def description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 100px);
  vertical-align: middle;
}

#rendered-content img {
  max-width: 70%;
}

#rendered-content *:has(.footnote) {
  display: none;
}

.footnote-a {
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}

.bubble span.footnote {
  margin: 5px 0 0 0;
  display: block;
}

#rendered-content a {
  color: yellow;
  cursor: pointer;
  text-decoration: none;
}

#rendered-content a:hover {
  text-decoration: underline;
}

#content.vBot word:hover {
  border-bottom: 2px solid yellow;
  cursor: pointer;
}

emphase {
  border-bottom: 2px solid yellow;
}

highlight {
  background: yellow;
  color: black;
}