* {
  transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.item {
  flex: 1 1 21%;
  position: relative; 
  width: 255px;
  height: 255px;
  border-radius: 10px;
  border: 2px solid white;
  text-align: left;
  padding: 15px;
}

.item-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.item-type {
  position: absolute; 
  left: 12px;
  bottom: 12px;
  font-size: 2em;
  padding: 7px;
  background: black;
}

.item-name {
  position: absolute;
  left: 64px;
  bottom: 12px;
  background: black;
  padding: 5px;
  width: fit-content;
  height: fit-content;
}

.item-desc {
  position: absolute;
  display: none;
  bottom: -82px;
  left: 12px;
  padding: 5px;
  background-color: white;
  color: black;
}

.item:hover > .item-type, .item:hover > .item-name {
  margin-bottom: 215px;
}

.item:hover > .item-cover {
  filter: blur(3px) opacity(0.7);
}

.item:hover > .item-desc {
  margin-bottom: 218px;
}

#container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}