.project__title:after {
  margin-left: 5px;
  content:"\A";
  width:10px;
  height:10px;
  border-radius:50%;
  background: var(--pj-status);
  display:inline-block;
  vertical-align:middle;
}

input {
  background-color: black;
  color: #828282;
  padding: 10px 0px 10px 10px;
  border: none;
  border-bottom: 2px solid #f0f;
  text-decoration: none !important;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}