body {
  color: #c7c7c7;
}

.explorer {
  margin-top: 20px;
  background: #212121;
  border-radius: 10px;
}

.explorer .bar {
  background: #454545;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.explorer .bar h1 {
  color: white;
  padding: 0px;
  padding-top: 20px;
  padding-left: 10px;
  margin: 0px;
}

.explorer .bar input {
  margin-top: 13px;
  float: right;
  background-color: #454545;
  color: white;
  padding: 10px 0px 10px 10px;
  border: none;
  border-bottom: 2px solid #f0f;
  text-decoration: none !important;
}

*:focus {
  outline: none;
}

#explorer-wrapper {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  display: block;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1100px;
  grid-gap: 10px;
}

.explorer-line {
  transition: transform .3s ease-out;
  display: inline-block;
  margin: 0;
  background: black;
  width: calc(100% - 40px);
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
}

.product {
  margin-left: 20px;
}

.inactive {
  display: none;
}

td.nom {
  padding-left: 10px;
  width: 120px;  
}

td.desc {
  width: 660px;
}

td.type {
  width: 210px
}