@media all and (min-width: 100px) and (max-width: 700px) {

  .main {
    width: 100% !important;
    top: 50px !important;
  }

  #title {
    font-size: 1.5em !important;
    min-height: 2.4em !important;
  }

  .info ion-icon {
    font-size: 30px !important;
  }

  .info {
    min-width: 40% !important;
  }

  .perc {
    width: 150px !important;
  }

  #last {
    margin-top: 75vh !important;
    padding: 50px !important;
  }

  .col {
    flex-basis: 100% !important;
  }
  
}

.enchained {
  height: fit-content;
}

.main {
  background: black;
  border-radius: 15px;
  padding: 50px;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 150px;
  
  display: flex;
  flex-wrap: wrap;
}

.progressbar__text img {
  width: 25px;
}

#apps, #languages {
  display: flex;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  width: 500px;
  height: fit-content;
}

#languages {
  flex-direction: column;
  gap: 5px;
}

#languages .language {
  height: 30px;
}

.app {
  max-width: 70px;
  max-height: 70px;
  flex: 1 1 10%;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 10px;
}

.container {
  margin: auto;
}

#languages ion-icon, #languages img {
  vertical-align: middle;
  font-size: 25px;
  width: 25px;
}

.perc {
  margin: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 70%;
  height: 10px;
  background: transparent;
  border-radius: 25px;
  text-align: left;
}

.bar {
  display: inline-block;
  position: relative;
  top: -7.6px;
  left: 0;
  height: 10px;
  background: var(--hl);
  border-radius: 25px;
  animation: perc 4s ease-in-out forwards;
}

@keyframes perc {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

.info div span {
  color: var(--text-grey);
}

#last {
  margin-top: 30vh;
}

#last ion-icon {
  vertical-align: middle;
  display: inline-block;
}

#last p {
   vertical-align: middle;
   display: inline;
}

#infos {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.info ion-icon {
  font-size: 50px;
  display: inline-block;
}

.info div {
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
}

#title {
  height: 1.2em;
}

.col {
  flex-basis: 50%;
}

#avatar {
  width: 75%;
  filter: drop-shadow(0 0 31vh #0ff);
}

.progressbar {
	position: relative;
	width: fit-content;
	height: fit-content;
	transform: rotate(-90deg);
  width: 70px;
  height: 70px;
  top: 100px;
}

.progress-circle {
	width: 50%;
	height: 50%;
	fill: none;
	stroke-width: 10;
	stroke-dasharray: 220;
  stroke-dashoffset: 220;
	stroke: var(--hl);
	stroke-linecap: round;
	transform: translate(5px, 5px);
  transition: all 4s ease-in-out;
}

.progress-text {
	position: absolute;
	top: 39px;
	left: 127px;
	padding: 0.25em 0.5em;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 0.25em;
	transform: translate(-50%, -50%) rotate(90deg);
}

.progress-text img {
  width: 25px;
  border-radius: 5px;
}