#timeline {
  width: 65%;
  background: black;
  border-radius: 15px;
  padding: 50px;
}

.actu {
  padding: 0px 15px 15px 15px;
  border-left: 2px solid white;
  padding-bottom: 75px;
}

.actu p {
  padding: 15px;
  border-radius: 15px;
  background: #212121;
  transition: all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  color: #b0b0b0;
}

.actu p:hover {
  transform: translateY(-10px)
}

.actu::before {
  content: "◉";
  font-size: 1.5em;
  display: block;
  font-family: monospace;
  position: relative;
  top: 30px;
  left: -24px;
  color: white;
  background: black;
  width: fit-content;
}